
.delete-base {
    height: 40px;
    width: 30px;
    border: 2px solid black;
    border-radius: 0 0 2px 2px;
    grid-row: 2 /span 2;
}

.delete-layout {
    display: grid;
    grid-template-rows: 10px 45px;
    grid-template-columns: 1fr;
}

.delete-top {
    margin-left: 10px;
    height: 5px;
    width: 10px;
    border: 2px solid black;
    border-radius: 2px 2px 0 0;
    grid-row: 1;
}